<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.docusign.sdksamplekotlin">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".SDKSampleApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/app_name"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.HomeActivity"
            android:label="@string/home"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.AgreementActivity"
            android:label="@string/agreement"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/settings"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.NewPresentationActivity" />
    </application>

</manifest>
